In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import pickle

def scrape_employee_data(ticker):
    # Define the URL of the webpage you want to scrape
    url = f"https://www.macrotrends.net/stocks/charts/{ticker}/{ticker.lower()}/number-of-employees"

    # Send a request to the webpage
    response = requests.get(url)

    # Parse the HTML content of the webpage using BeautifulSoup
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the table element that contains the historical employee count data
    table = soup.find("table", {"class": "historical_data_table table"})

    column_names = ["Year", "Number of Employees"]
    # Get the table rows
    rows = []
    if table:
        for tr in table.find_all("tr")[1:]:
            row = []
            for td in tr.find_all("td"):
                row.append(td.text.strip())
            rows.append(row)
    # Store the data in a Pandas dataframe
    df = pd.DataFrame(rows, columns=column_names)
    # df["Number of Employees"] = pd.to_numeric(df["Number of Employees"].replace(",", ""), errors="coerce")
    df["Year"] = pd.to_numeric(df["Year"], errors="coerce")
    df["Number of Employees"] = df["Number of Employees"].str.replace(',', '')
    df["Number of Employees"] = pd.to_numeric(df["Number of Employees"], errors="coerce")
    # Print the dataframe
    return df

In [10]:
layoff_companies = pd.read_csv("layoff_tech_companies.csv")
layoff_companies

,Unnamed: 0,period,revenuePerShare,netIncomePerShare,operatingCashFlowPerShare,freeCashFlowPerShare,cashPerShare,bookValuePerShare,tangibleBookValuePerShare,shareholdersEquityPerShare,...,Funds_Raised,Stage,Date_Added,Country,Percentage,List_of_Employees_Laid_Off,Month,Year,Ticker,Index
0,4,FY,32.733348,3.849057,1.781567,1.249147,7.935144,14.325357,11.148507,14.325357,...,NaN,Post-IPO,2023-03-23 16:47:11,Switzerland,NaN,Unknown,2023-03,2023.0,LOGI,4
1,10,FY,5.599994,-0.528370,1.028252,0.793428,0.769943,19.705087,-3.077890,19.705087,...,NaN,Post-IPO,2023-03-21 23:29:14,United States,0.04,Unknown,2023-03,2023.0,MRVL,10
2,16,FY,74.467678,2.246732,0.021957,0.017731,26.450163,14.571844,-38.736979,14.571844,...,3300.0,Post-IPO,2023-03-22 23:59:38,United States,NaN,Unknown,2023-03,2023.0,EXPE,16
3,20,FY,50.444892,-0.267151,4.588478,-1.657964,6.872706,14.333399,12.342232,14.333399,...,108.0,Post-IPO,2023-03-20 15:07:51,United States,NaN,Unknown,2023-03,2023.0,AMZN,20
4,25,FY,31.844303,2.254025,3.968584,0.950543,15.289061,42.085799,23.639859,42.085799,...,NaN,Post-IPO,2023-03-17 04:11:53,United States,NaN,Unknown,2023-03,2023.0,COHR,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1642,FY,21.610733,3.551107,5.400341,4.626917,8.091993,18.506814,7.615843,18.506814,...,216.0,Post-IPO,2022-05-26 03:02:05,United States,NaN,Unknown,2022-05,2022.0,PYPL,1642
138,1667,FY,72.150900,-0.760135,-14.605856,-17.742117,2.269144,1.722973,2.882883,1.722973,...,1600.0,Post-IPO,2022-05-10 15:35:42,United States,0.12,Unknown,2022-05,2022.0,CVNA,1667
139,1672,FY,43.414415,-5.057034,-7.753543,-8.140928,15.438220,12.477836,9.927934,12.477836,...,1300.0,Post-IPO,2022-05-10 02:49:25,United States,0.14,Unknown,2022-05,2022.0,VRM,1672
140,1733,FY,16.417323,-2.842520,-7.488189,-7.503937,9.125984,6.440945,6.440945,6.440945,...,1600.0,Post-IPO,2022-05-14 01:20:14,United States,0.15,Unknown,2022-03,2022.0,WISH,1733
141,2156,FY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1400.0,Post-IPO,2020-04-13 21:14:40,United States,0.44,Unknown,2020-04,2020.0,GRPN,2156

In [11]:
layoff_tickers = layoff_companies["Ticker"].tolist()

In [6]:
headcount_dict["LOGI"]

    Year  Number of Employees
0   2022                  NaN
1   2021                  NaN
2   2020                  NaN
3   2019                  NaN
4   2018                  NaN
5   2017                  NaN
6   2016                  NaN
7   2015                  NaN
8   2014                  NaN
9   2013                  NaN
10  2012                  NaN
11  2011                  NaN
12  2010                  NaN
13  2009                  NaN

In [4]:
scrape_employee_data("LOGI")

    Year  Number of Employees
0   2022               8200.0
1   2021               9000.0
2   2020               6600.0
3   2019               6600.0
4   2018               6100.0
5   2017               6400.0
6   2016               5900.0
7   2015               6900.0
8   2014               6289.0
9   2013               7700.0
10  2012               9000.0
11  2011              11000.0
12  2010               9944.0
13  2009                  NaN

In [12]:
headcount_dict = {}

for ticker in layoff_tickers:
    print(f"{ticker} is being scraped...")
    df = scrape_employee_data(ticker)
    headcount_dict[ticker] = df
    # df.to_csv(f"employee_data/{ticker}_employee_data.csv", index=False)

LOGI is being scraped...
MRVL is being scraped...
EXPE is being scraped...
AMZN is being scraped...
COHR is being scraped...
META is being scraped...
NLTX is being scraped...
TTWO is being scraped...
TEAM is being scraped...
SIRI is being scraped...
ABNB is being scraped...
ACCD is being scraped...
ZS is being scraped...
EA is being scraped...
EB is being scraped...
PLTR is being scraped...
ERIC is being scraped...
CRTO is being scraped...
HPQ is being scraped...
DMRC is being scraped...
DOCU is being scraped...
REAL is being scraped...
SMAR is being scraped...
WIX is being scraped...
DOCN is being scraped...
TWLO is being scraped...
OPRT is being scraped...
GDDY is being scraped...
AFRM is being scraped...
ZM is being scraped...
EBAY is being scraped...
SCWX is being scraped...
DELL is being scraped...
OKTA is being scraped...
ADSK is being scraped...
DM is being scraped...
SPLK is being scraped...
PINS is being scraped...
DKNG is being scraped...
FREQ is being scraped...
MTCH is being scraped...
PYPL is being scraped...
NTAP is being scraped...
WDAY is being scraped...
HUBS is being scraped...
UPST is being scraped...
WISH is being scraped...
NATI is being scraped...
OTEX is being scraped...
PHG is being scraped...
GRPN is being scraped...
INTC is being scraped...
BMTX is being scraped...
SOFI is being scraped...
SNPS is being scraped...
SAP is being scraped...
IBM is being scraped...
LRCX is being scraped...
GH is being scraped...
PD is being scraped...
SPOT is being scraped...
YEXT is being scraped...
GOOG is being scraped...
W is being scraped...
COF is being scraped...
MGNI is being scraped...
PSNL is being scraped...
MSFT is being scraped...
TDOC is being scraped...
VRM is being scraped...
EGHT is being scraped...
NCNO is being scraped...
BALY is being scraped...
LSPD is being scraped...
U is being scraped...
RNG is being scraped...
ORCL is being scraped...
XP is being scraped...
PAGS is being scraped...
CVNA is being scraped...
LC is being scraped...
XM is being scraped...
COIN is being scraped...
FATE is being scraped...
EDIT is being scraped...
CUE is being scraped...
COMP is being scraped...
SFIX is being scraped...
TCRR is being scraped...
AMZN is being scraped...
CRM is being scraped...
BFLY is being scraped...
PEGA is being scraped...
DOX is being scraped...
BILI is being scraped...
INTC is being scraped...
PINS is being scraped...
CVNA is being scraped...
AMZN is being scraped...
TCEHY is being scraped...
COIN is being scraped...
META is being scraped...
RNG is being scraped...
SPOT is being scraped...
CRM is being scraped...
TWTR is being scraped...
AFRM is being scraped...
ORCL is being scraped...
UPST is being scraped...
AMZN is being scraped...
PHG is being scraped...
ARVL is being scraped...
MSFT is being scraped...
CRM is being scraped...
SPOT is being scraped...
EGHT is being scraped...
DOCU is being scraped...
COMP is being scraped...
TWLO is being scraped...
TCRR is being scraped...
OKTA is being scraped...
W is being scraped...
WIX is being scraped...
GRPN is being scraped...
VRM is being scraped...
RNG is being scraped...
BFLY is being scraped...
ORCL is being scraped...
ARVL is being scraped...
MSFT is being scraped...
TWTR is being scraped...
U is being scraped...
CUE is being scraped...
COIN is being scraped...
COMP is being scraped...
DM is being scraped...
SFIX is being scraped...
PYPL is being scraped...
CVNA is being scraped...
VRM is being scraped...
WISH is being scraped...
GRPN is being scraped...

In [6]:
non_layoff_companies = pd.read_csv("non_layoff_stats.csv")

In [7]:
non_layoff_tickers = non_layoff_companies["Ticker"].tolist()

In [8]:
non_layoff_dict = {}

for ticker in non_layoff_tickers:
    if ticker not in non_layoff_dict:
        print(f"{ticker} is being scraped...")
        df = scrape_employee_data(ticker)
        non_layoff_dict[ticker] = df

PLAB is being scraped...
UCLE is being scraped...
EVSBY is being scraped...
TTMI is being scraped...
EPAY is being scraped...
ZTS is being scraped...
RPD is being scraped...
SEDG is being scraped...
TCX is being scraped...
INRD is being scraped...
DNB is being scraped...
NPTN is being scraped...
NTDTY is being scraped...
AACAY is being scraped...
AOSL is being scraped...
SPI is being scraped...
ESTC is being scraped...
ZBRA is being scraped...
GVP is being scraped...
PCTI is being scraped...
AIRG is being scraped...
IPGP is being scraped...
VSH is being scraped...
CIEN is being scraped...
BL is being scraped...
CRGE is being scraped...
ADTTF is being scraped...
AEHR is being scraped...
DQ is being scraped...
CPQQ is being scraped...
NRILY is being scraped...
SNCR is being scraped...
ZVTK is being scraped...
SPDC is being scraped...
ALPP is being scraped...
AKOM is being scraped...
EMKR is being scraped...
KULR is being scraped...
KARO is being scraped...
VLDR is being scraped...
INTV is being scraped...
WRAP is being scraped...
NOW is being scraped...
HSTA is being scraped...
AVGO is being scraped...
KLIC is being scraped...
GLG is being scraped...
XELAW is being scraped...
INTT is being scraped...
BELFB is being scraped...
API is being scraped...
MFCO is being scraped...
ANDR is being scraped...
INFY is being scraped...
CETXP is being scraped...
SATS is being scraped...
NVMI is being scraped...
NEWR is being scraped...
MCFE is being scraped...
ASML is being scraped...
EHVVF is being scraped...
RNECY is being scraped...
ZEPP is being scraped...
PRTH is being scraped...
LSYN is being scraped...
APCX is being scraped...
EGAN is being scraped...
RMBS is being scraped...
TRT is being scraped...
BOXL is being scraped...
EVTC is being scraped...
SONO is being scraped...
ATGN is being scraped...
AUUD is being scraped...
CTK is being scraped...
ALLT is being scraped...
TOELY is being scraped...
RDWR is being scraped...
CD is being scraped...
TUYA is being scraped...
CTS is being scraped...
DV is being scraped...
RPAY is being scraped...
DGII is being scraped...
ONTO is being scraped...
PLAN is being scraped...
DLOC is being scraped...
TGCB is being scraped...
FARO is being scraped...
VERBW is being scraped...
SABR is being scraped...
CLFD is being scraped...
ELSE is being scraped...
MAPT is being scraped...
OBTX is being scraped...
NCRRP is being scraped...
QURT is being scraped...
CACI is being scraped...
JBL is being scraped...
HMBL is being scraped...
GDS is being scraped...
XPER is being scraped...
NTPY is being scraped...
ACMR is being scraped...
ZUO is being scraped...
AMOT is being scraped...
ABQQ is being scraped...
BSRC is being scraped...
ELUXY is being scraped...
CCUR is being scraped...
CLWD is being scraped...
SIRC is being scraped...
DSP is being scraped...
ABST is being scraped...
APP is being scraped...
TREN is being scraped...
TCCO is being scraped...
WDDD is being scraped...
MLAB is being scraped...
NLOK is being scraped...
AMKR is being scraped...
IINX is being scraped...
SHCAY is being scraped...
ENPH is being scraped...
WISA is being scraped...
WSTL is being scraped...
HPTO is being scraped...
INOD is being scraped...
RAMP is being scraped...
ASAN is being scraped...
SKKY is being scraped...
QTMM is being scraped...
BLIN is being scraped...
ANSS is being scraped...
AVCT is being scraped...
QADA is being scraped...
TKLS is being scraped...
FSLR is being scraped...
SUMO is being scraped...
TMICY is being scraped...
ECOM is being scraped...
SPSC is being scraped...
PWFL is being scraped...
CRGS is being scraped...
QUIK is being scraped...
EXEO is being scraped...
BMBL is being scraped...
ITRN is being scraped...
VVPR is being scraped...
TRIQ is being scraped...
CLS is being scraped...
MITK is being scraped...
XRX is being scraped...
GRMN is being scraped...
CUENW is being scraped...
STMP is being scraped...
PLUS is being scraped...
SHLS is being scraped...
CTSH is being scraped...
BZWR is being scraped...
EMAN is being scraped...
SNPW is being scraped...
LAZR is being scraped...
CCMP is being scraped...
RIOT is being scraped...
PRSP is being scraped...
HPE is being scraped...
PRCH is being scraped...
MCCX is being scraped...
BOSC is being scraped...
EPAM is being scraped...
USIO is being scraped...
TTDKF is being scraped...
LAAB is being scraped...
XLNX is being scraped...
PAYD is being scraped...
KBNTW is being scraped...
ORSX is being scraped...
MNBEY is being scraped...
WKEY is being scraped...
ELST is being scraped...
VPG is being scraped...
PCTY is being scraped...
VEII is being scraped...
CGLO is being scraped...
CTEK is being scraped...
CLVT is being scraped...
ONTF is being scraped...
KLDI is being scraped...
ABCE is being scraped...
FLXT is being scraped...
VTKLY is being scraped...
CNDT is being scraped...
NTGR is being scraped...
CTXS is being scraped...
MYSZ is being scraped...
DTST is being scraped...
SILC is being scraped...
INFN is being scraped...
QADB is being scraped...
INLX is being scraped...
CYRN is being scraped...
TTDKY is being scraped...
FN is being scraped...
ETWO-WT is being scraped...
CAN is being scraped...
DUOT is being scraped...
FEYE is being scraped...
SGMA is being scraped...
DXC is being scraped...
RNECF is being scraped...
DSGT is being scraped...
OBLG is being scraped...
WIT is being scraped...
MKSI is being scraped...
UEIC is being scraped...
SSNT is being scraped...
GAXY is being scraped...
CAMT is being scraped...
ISUN is being scraped...
SOFO is being scraped...
RWWI is being scraped...
CLDR is being scraped...
TMSNY is being scraped...
SREV is being scraped...
AMSSY is being scraped...
MNDO is being scraped...
GLOB is being scraped...
DSPG is being scraped...
IRBT is being scraped...
CIH is being scraped...
NNDM is being scraped...
OSAT is being scraped...
NICE is being scraped...
TACT is being scraped...
SMDM is being scraped...
RLBY is being scraped...
UEPS is being scraped...
EDXC is being scraped...
SMME is being scraped...
RMNIW is being scraped...
MX is being scraped...
GSKY is being scraped...
MAXD is being scraped...
KTCC is being scraped...
VOXX is being scraped...
JKS is being scraped...
SOBR is being scraped...
EBON is being scraped...
GIB is being scraped...
OLB is being scraped...
AMPG is being scraped...
EVOL is being scraped...
ETCMY is being scraped...
ABXXF is being scraped...
FIBK is being scraped...
MU is being scraped...
QUBT is being scraped...
CDAY is being scraped...
ALKT is being scraped...
INTZ is being scraped...
VMNT is being scraped...
ASTI is being scraped...
DSWL is being scraped...
AKTS is being scraped...
CMCM is being scraped...
INVE is being scraped...
ADBE is being scraped...
SOTGY is being scraped...
ATEYY is being scraped...
INPX is being scraped...
PXLW is being scraped...
TMVWY is being scraped...
RSTAY is being scraped...
HCKT is being scraped...
PSFE is being scraped...
QRVO is being scraped...
CSVI is being scraped...
OCC is being scraped...
PTIXW is being scraped...
BRQS is being scraped...
CLOQ is being scraped...
ETWO is being scraped...
SPOFF is being scraped...
CNXN is being scraped...
CALX is being scraped...
ICLD is being scraped...
FTFT is being scraped...
SUIC is being scraped...
RPMT is being scraped...
LYTS is being scraped...
SOTK is being scraped...
PRZM is being scraped...
BILL is being scraped...
LNVGY is being scraped...
BEEM is being scraped...
KGNR is being scraped...
ISGN is being scraped...
STWRY is being scraped...
NEON is being scraped...
BLBX is being scraped...
LASR is being scraped...
UIS is being scraped...
EXFO is being scraped...
XELA is being scraped...
ASUR is being scraped...
MGIC is being scraped...
GSIT is being scraped...
BTZI is being scraped...
MMTIF is being scraped...
PALT is being scraped...
PAR is being scraped...
JFU is being scraped...
DCLT is being scraped...
QH is being scraped...
TRCK is being scraped...
LINK is being scraped...
ACFN is being scraped...
BNFT is being scraped...
MPAD is being scraped...
SUNW is being scraped...
VLDRW is being scraped...
IIIV is being scraped...
KN is being scraped...
MRAM is being scraped...
WTRH is being scraped...
DCBO is being scraped...
JG is being scraped...
ACLS is being scraped...
NOK is being scraped...
DZSI is being scraped...
FTV-PA is being scraped...
NANN is being scraped...
AEXAY is being scraped...
BSY is being scraped...
WEX is being scraped...
PCYG is being scraped...
LFUS is being scraped...
MIME is being scraped...
XIACF is being scraped...
RAYT is being scraped...
CRSR is being scraped...
SCSC is being scraped...
BBLR is being scraped...
NVEC is being scraped...
HBB is being scraped...
SILXY is being scraped...
SPNS is being scraped...
ICHR is being scraped...
CMSQY is being scraped...
NCPL is being scraped...
WYY is being scraped...
GDYNW is being scraped...
NLST is being scraped...
DUUO is being scraped...
WORK is being scraped...
ASYS is being scraped...
LCHD is being scraped...
SODI is being scraped...
ITRI is being scraped...
JAMF is being scraped...
IFNNY is being scraped...
MPWR is being scraped...
HXGBY is being scraped...
NX is being scraped...
IDTY is being scraped...
VIAO is being scraped...
PRKR is being scraped...
DAVA is being scraped...
SEDO is being scraped...
PLXS is being scraped...
CUEN is being scraped...
SING is being scraped...
ASX is being scraped...
TOGL is being scraped...
PRFT is being scraped...
KOSS is being scraped...
CCRC is being scraped...
CHJI is being scraped...
CTG is being scraped...
KOPN is being scraped...
SONY is being scraped...
ATCLF is being scraped...
OIIM is being scraped...
PRO is being scraped...
GSTX is being scraped...
BHE is being scraped...
QUMU is being scraped...
CETX is being scraped...
RKFL is being scraped...
LEDS is being scraped...
NETE is being scraped...
MDLA is being scraped...
FALC is being scraped...
LIFX is being scraped...
LYFT is being scraped...
BAND is being scraped...
ON is being scraped...
HYSR is being scraped...
ALYA is being scraped...
IDEX is being scraped...
DDOG is being scraped...
STM is being scraped...
HXL is being scraped...
EBIX is being scraped...
FICO is being scraped...
SHOP is being scraped...
ONDS is being scraped...
EACO is being scraped...
GAHC is being scraped...
DSGX is being scraped...
MSN is being scraped...
AFTPY is being scraped...
MDB is being scraped...
DLTI is being scraped...
GDYN is being scraped...
OLO is being scraped...
CLTS is being scraped...
LDOS is being scraped...
BELFA is being scraped...
IEC is being scraped...
COMM is being scraped...
FTS is being scraped...
SPWR is being scraped...
MCHP is being scraped...
CDK is being scraped...
AUUDW is being scraped...
RELL is being scraped...
PING is being scraped...
AEY is being scraped...
TAOP is being scraped...
GTYH is being scraped...
BKTI is being scraped...
ZEN is being scraped...
SYTA is being scraped...
DSCSY is being scraped...
AMPGW is being scraped...
FIS is being scraped...
SWIR is being scraped...
FTCI is being scraped...
ACIW is being scraped...
TSRI is being scraped...
MAXR is being scraped...
GRWC is being scraped...
FEIM is being scraped...
FORM is being scraped...
MEI is being scraped...
WECT is being scraped...
BTRS is being scraped...
WHEN is being scraped...
LITE is being scraped...
ADTN is being scraped...
LPSN is being scraped...
BLKB is being scraped...
ASFT is being scraped...
AZPN is being scraped...
TGAN is being scraped...
GWSO is being scraped...
MIND is being scraped...
UCTT is being scraped...
BCOV is being scraped...
SRCO is being scraped...
CASA is being scraped...
ARW is being scraped...
TNLX is being scraped...
MTC is being scraped...
WACMY is being scraped...
TTEC is being scraped...
ALTR is being scraped...
POWI is being scraped...
BKI is being scraped...
SWCH is being scraped...
OMRNY is being scraped...
TESS is being scraped...
KVHI is being scraped...
PRGS is being scraped...
SGLBW is being scraped...
HXGBF is being scraped...
WSTG is being scraped...
LINX is being scraped...
OLED is being scraped...
CRCT is being scraped...
SEAC is being scraped...
FLYW is being scraped...
SGH is being scraped...
TEUM is being scraped...
FCCN is being scraped...
PTNYF is being scraped...
APYP is being scraped...
EXLS is being scraped...
AVCTW is being scraped...
STRI is being scraped...
APPS is being scraped...
NSYS is being scraped...
REKR is being scraped...
MPX is being scraped...
QLYS is being scraped...
AI is being scraped...
BTRSW is being scraped...
UPLD is being scraped...
SPRT is being scraped...
ZPAS is being scraped...
VICR is being scraped...
MICT is being scraped...
INTU is being scraped...
PSTG is being scraped...
SFOR is being scraped...
NXPI is being scraped...
CRWD is being scraped...
BDR is being scraped...
GBOX is being scraped...
TTCM is being scraped...
RESN is being scraped...
VEMLY is being scraped...
VCRA is being scraped...
RETC is being scraped...
GTXO is being scraped...
KEYS is being scraped...
UMC is being scraped...
ZIXI is being scraped...
ATYG is being scraped...
REFR is being scraped...
FSSN is being scraped...
GTCH is being scraped...
KYOCY is being scraped...
AVYA is being scraped...
WATT is being scraped...
DLB is being scraped...
FLIR is being scraped...
CLSK is being scraped...
BB is being scraped...
ATC is being scraped...
DAIO is being scraped...
ATDS is being scraped...
VISM is being scraped...
TLND is being scraped...
ALRM is being scraped...
LPTH is being scraped...
VMW is being scraped...
KNBE is being scraped...
INDI is being scraped...
CHKP is being scraped...
AVOI is being scraped...
JCS is being scraped...
ITOX is being scraped...
MRAAY is being scraped...
BOX is being scraped...
SMCI is being scraped...
CEVA is being scraped...
WDC is being scraped...
PGNT is being scraped...
SVMK is being scraped...
GIGA is being scraped...
HEAR is being scraped...
SCKT is being scraped...
CSIOY is being scraped...
MKTY is being scraped...
MRIN is being scraped...
TYL is being scraped...
CPSH is being scraped...
MANH is being scraped...
CTLPP is being scraped...
CYCA is being scraped...
VSAT is being scraped...
VZIO is being scraped...
ENTG is being scraped...
IMOS is being scraped...
MINM is being scraped...
JKHY is being scraped...
CRNC is being scraped...
CDNS is being scraped...
TTD is being scraped...
KLAC is being scraped...
VIAV is being scraped...
SIXD is being scraped...
FORTY is being scraped...
CRUS is being scraped...
SYKE is being scraped...
RUN is being scraped...
PAYC is being scraped...
COHU is being scraped...
SIMO is being scraped...
AAPL is being scraped...
AMAT is being scraped...
FTNT is being scraped...
SQ is being scraped...
UBER is being scraped...
ATVI is being scraped...
NFLX is being scraped...
ANET is being scraped...
GFS is being scraped...
FISV is being scraped...
ADI is being scraped...
AMD is being scraped...
NVDA is being scraped...
ROP is being scraped...
TSLA is being scraped...
SNOW is being scraped...
TXN is being scraped...
CSCO is being scraped...
ADP is being scraped...
QCOM is being scraped...
IQV is being scraped...
BKNG is being scraped...
PANW is being scraped...
EQIX is being scraped...

In [15]:
# save headcount_dict and non_layoff_dict as pickle files
with open("layoff_headcounts.pickle", "wb") as f:
    pickle.dump(headcount_dict, f)

with open("non_layoff_headcounts.pickle", "wb") as f:
    pickle.dump(non_layoff_dict, f)

In [53]:
scraped_data["Number of Employees"] = pd.to_numeric(scraped_data["Number of Employees"].replace(",", ""), errors="coerce")

In [37]:
scrape_employee_data('BMBL')

   Year Number of Employees
0  2022                 950
1  2021                 900
2  2020                 700
3  2019                 650
4  2018

In [35]:
scrape_employee_data('ZUO')

   Year Number of Employees
0  2023               1,549
1  2022               1,393
2  2021               1,190
3  2020               1,249
4  2019               1,221
5  2018                 933
6  2017
7  2016

In [55]:
df["Number of Employees"]

0     164000
1     154000
2     147000
3     137000
4     132000
5     123000
6     116000
7     110000
8      97000
9      84400
10     76100
11     63300
12     49400
13     36800
Name: Number of Employees, dtype: int32

In [2]:
print(rows)

[['2022', '164,000'], ['2021', '154,000'], ['2020', '147,000'], ['2019', '137,000'], ['2018', '132,000'], ['2017', '123,000'], ['2016', '116,000'], ['2015', '110,000'], ['2014', '97,000'], ['2013', '84,400'], ['2012', '76,100'], ['2011', '63,300'], ['2010', '49,400'], ['2009', '36,800']]

In [12]:
layoff_tickers = ['SAP', 'OKTA', 'TDOC', 'EXPE', 'W', 'GRPN', 'PLTR', 'MTCH', 'ARVL', 'ZM']
non_layoff_tickers = ['BMBL', 'DV', 'CCUR', 'TTMI', 'NOK', 'UEPS', 'ZUO', 'TOGL', 'CAMT', 'SATS']

In [50]:
layoff_dict = {}
non_layoff_dict = {}
for ticker in layoff_tickers:
    layoff_dict[ticker] = scrape_employee_data(ticker)
for ticker in non_layoff_tickers:
    non_layoff_dict[ticker] = scrape_employee_data(ticker)

In [51]:
layoff_dict

{'SAP':     Year Number of Employees
 0   2022             111,961
 1   2021             107,415
 2   2020             102,430
 3   2019             100,330
 4   2018              96,498
 5   2017              88,543
 6   2016              84,183
 7   2015              76,986
 8   2014              74,406
 9   2013              66,572
 10  2012              64,422
 11  2011              54,346
 12  2010              53,513
 13  2009              47,500,
 'OKTA':    Year Number of Employees
 0  2023               6,013
 1  2022               5,030
 2  2021               2,806
 3  2020               2,248
 4  2019               1,561
 5  2018
 6  2017
 7  2016
 8  2015                    ,
 'TDOC':    Year Number of Employees
 0  2022               5,600
 1  2021               5,100
 2  2020               4,400
 3  2019               2,400
 4  2018               2,000
 5  2017               1,231
 6  2016                 670
 7  2015                 600
 8  2014                 259
 9  2013                    ,
 'EXPE':     Year Number of Employees
 0   2022              16,500
 1   2021              14,800
 2   2020              19,100
 3   2019              25,400
 4   2018              24,500
 5   2017              22,615
 6   2016              20,075
 7   2015              18,730
 8   2014              18,210
 9   2013              14,570
 10  2012              12,330
 11  2011               9,480
 12  2010               8,900
 13  2009               7,960,
 'W':     Year Number of Employees
 0   2022              15,745
 1   2021              16,681
 2   2020              16,122
 3   2019              16,985
 4   2018              12,124
 5   2017               7,751
 6   2016               5,637
 7   2015               3,809
 8   2014               2,353
 9   2013               2,104
 10  2012                    ,
 'GRPN':     Year Number of Employees
 0   2022               2,904
 1   2021               3,675
 2   2020               4,159
 3   2019               2,358
 4   2018               6,576
 5   2017               6,672
 6   2016               8,323
 7   2015               9,872
 8   2014              11,843
 9   2013              11,283
 10  2012              11,394
 11  2011              11,471
 12  2010              10,418
 13  2009                    ,
 'PLTR':    Year Number of Employees
 0  2022               3,838
 1  2021               2,920
 2  2020               2,439
 3  2019               2,391
 4  2018
 5  2017                    ,
 'MTCH':     Year Number of Employees
 0   2022               2,720
 1   2021               2,540
 2   2020               1,900
 3   2019               8,700
 4   2018               7,800
 5   2017               7,000
 6   2016               9,100
 7   2015               5,000
 8   2014               5,000
 9   2013               4,000
 10  2012               4,200
 11  2011               3,200
 12  2010               3,200
 13  2009               3,200,
 'ARVL':    Year Number of Employees
 0  2020                   3
 1  2019                   3
 2  2017                    ,
 'ZM':    Year Number of Employees
 0  2023               8,484
 1  2022               6,787
 2  2021               4,422
 3  2020               2,532
 4  2019               1,702
 5  2018                    }

In [43]:
pd.DataFrame(layoff_dict)

ValueError: If using all scalar values, you must pass an index